{% load i18n  %}

<h3>{% trans "Project Overview" %}</h3>

<div class="info detail">
  <h4>{% trans "Information" %}</h4>
  <hr class="header_rule">
  <dl class="dl-horizontal">
    <dt>{% trans "Project Name" %}</dt>
    <dd>{{ project.name }}</dd>
    <dt>{% trans "Project ID" %}</dt>
    <dd>{{ project.id }}</dd>
    <dt>{% trans "Enabled" %}</dt>
    <dd>{{ project.enabled|yesno|capfirst }}</dd>
    <dt>{% trans "Description" %}</dt>
    <dd>{{ project.description|default:_("None") }}</dd>
  </dl>
  <h4>{% trans "Address" %}</h4>
  <hr class="header_rule">
  <dl class="dl-horizontal">
    <dt>{% trans "Street" %}</dt>
    <dd>{{ project.address_street }}</dd>
    <dt>{% trans "City" %}</dt>
    <dd>{{ project.address_city }}</dd>
    <dt>{% trans "State" %}</dt>
    <dd>{{ project.address_state }}</dd>
    <dt>{% trans "ZIP Code" %}</dt>
    <dd>{{ project.address_zip }}</dd>
    <dt>{% trans "Country" %}</dt>
    <dd>{{ project.address_country }}</dd>
  </dl>
  <h4>{% trans "Billing" %}</h4>
  <hr class="header_rule">
  <dl class="dl-horizontal">
    <dt>{% trans "Balance" %}</dt>
    <dd>{{ project.billing_balance }}</dd>
    <dt>{% trans "Credit Card Holder" %}</dt>
    <dd>{{ project.billing_cc_holder }}</dd>
    <dt>{% trans "Credit Card Type" %}</dt>
    <dd>{{ project.billing_cc_type }}</dd>
    <dt>{% trans "Credit Card Number" %}</dt>
    <dd>{{ project.billing_cc_number }}</dd>
    <dt>{% trans "Credit Card Expire" %}</dt>
    <dd>{{ project.billing_cc_expire }}</dd>
  </dl>
</div>

