{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Rating Summary" %}{% endblock %}

{% block page_header %}
  {% include "horizon/common/_page_header.html" with title=_("Rating Summary") %}
{% endblock page_header %}

{% block main %}
<hr class="header_rule"></hr>
<h2>Total Cost for today - ${{ total_today }}</h2>
<h3>({{ start_period_today }} to {{ end_period }})</h3>
<table class="table table-bordered table-striped" id="rating">
    <thead>
        <tr class="tablesorter-headerRow">
	    <th class="normal_column">Service type</th>
            <th class="normal_column">Cost</th>
        </tr>
    </thead>
    <tbody>
	    {% for name, rate in total_dict.items %}
            <tr class="{% cycle 'odd' 'even' %}">
                <td class="normal_column">{{ name }}</td>
                <td class="cost_column">${{ rate }}</td>
            </tr>
	    {% endfor %}
    </tbody>
</table>

<h2>Total Cost for trailing Week - ${{total_week}}</h2> 
<h3>({{ start_period_week }} to {{ end_period }})</h3>
<table class="table table-bordered table-striped" id="rating">
    <thead>
        <tr class="tablesorter-headerRow">
            <th class="normal_column">Service type</th>
            <th class="normal_column">Cost</th>
        </tr>
    </thead>
    <tbody>
            {% for name, rate in total_week_dict.items %}
            <tr class="{% cycle 'odd' 'even' %}">
                <td class="normal_column">{{ name }}</td>
                <td class="cost_column">${{ rate }}</td>
            </tr>
            {% endfor %}
    </tbody>
</table>

<h2>Total Cost for trailing month - ${{total_month}}</h2> 
<h3>({{ start_period_month }} to {{ end_period }})</h3>
<table class="table table-bordered table-striped" id="rating">
    <thead>
        <tr class="tablesorter-headerRow">
            <th class="normal_column">Service type</th>
            <th class="normal_column">Cost</th>
        </tr>   
    </thead>    
    <tbody> 
            {% for name, rate in total_month_dict.items %}
            <tr class="{% cycle 'odd' 'even' %}">
                <td class="normal_column">{{ name }}</td>
                <td class="cost_column">${{ rate }}</td>
            </tr>
            {% endfor %}
    </tbody>    
</table> 

<h2>Total Cost for Cloud resources from tenant creation date - ${{total_cloud}}</h2>
<h3>({{ start_period_cloud }} to {{ end_period }})</h3>
{% endblock %}
