{% load i18n %}

<h3>{% trans "Node Overview" %}</h3>
<div class="info detail">
  <hr class="header_rule">
  <dl class="dl-horizontal">
    <dt>Name:</dt><dd>{{ node.id }}</dd>
    <dt>Platform:</dt><dd>{{ node.platform }}</dd>
    <dt>IP Address:</dt><dd>{{ node.ipaddr }}</dd>
    <dt>Roles:</dt><dd>{{ node.roles }}</dd>
    <dt>Uptime:</dt><dd>{{ node.uptime }}</dd>
    <dt>Last Chek-In:</dt><dd>{{ node.lstchk }}</dd>
  </dl>
</div>


<h3>{% trans "Node Attributes" %}</h3>

<div class="info detail">
  <pre><code>
  {{ node.attrs }}
  </code></pre>
</div>

